Create-SI/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Execute_Query": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "INSERT INTO [dbo].[ServiceInitiation] VALUES (@{triggerBody()?['userId']},'@{triggerBody()?['destination']}')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql-2",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {}
            },
            "Execute_Query_2": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "SELECT ServiceInitiationId FROM [dbo].[ServiceInitiation] ORDER BY [ServiceInitiationId] DESC"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql-2",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Execute_Query": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "serviceInitiationId",
                            "type": "integer",
                            "value": "@outputs('Execute_Query_2')?['body'][0][0].ServiceInitiationId"
                        }
                    ]
                },
                "runAfter": {
                    "Execute_Query_2": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Invoke_a_workflow_in_this_workflow_app')?['body']"
                },
                "runAfter": {
                    "Invoke_a_workflow_in_this_workflow_app": [
                        "Succeeded"
                    ]
                }
            },
            "Invoke_a_workflow_in_this_workflow_app": {
                "type": "Workflow",
                "inputs": {
                    "host": {
                        "workflow": {
                            "id": "Send-Approval"
                        }
                    },
                    "body": {
                        "serviceInitiationId": "@variables('serviceInitiationId')"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "userId": {
                                "type": "integer"
                            },
                            "destination": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}