Create-SI/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Execute_Query": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "INSERT INTO [dbo].[ServiceInitiation] VALUES (@{triggerBody()?['userId']},'@{triggerBody()?['destination']}')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql-2",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {}
            },
            "Execute_Query_2": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "SELECT ServiceInitiationId FROM [dbo].[ServiceInitiation] ORDER BY [ServiceInitiationId] DESC"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql-2",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Execute_Query": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "serviceInitiationId",
                            "type": "integer",
                            "value": "@outputs('Execute_Query_2')?['body'][0][0].ServiceInitiationId"
                        }
                    ]
                },
                "runAfter": {
                    "Execute_Query_2": [
                        "Succeeded"
                    ]
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "http://localhost:7071/api/Send-Approval/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PRABTrN2bHrP2fyzPY416HdkEFQliGT40Yhkc5Sznuo",
                    "body": {
                        "serviceInitiationId": "@variables('serviceInitiationId')"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": "@outputs('HTTP')['statusCode']",
                    "headers": "@outputs('HTTP')['headers']",
                    "body": "@body('HTTP')"
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "userId": {
                                "type": "integer"
                            },
                            "destination": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}